# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# IDEs
.vscode/
.idea/
*.sln
*.iml

# Local data 
data/*
*.zst
*.pgn

# Add back example file
!data/example/
!data/example/example_games.pgn.zst